<section class="main bg-gradient-to-r from-sky-500 to-sky-50">

  <div class="portfolio-card flex flex-col justify-center h-full gap-y-16">
    <div class="card-header ">
      <h1 class="text-3xl mb-4 font-bold text-white md:text-5xl">Mohamed Abo Elnour</h1>
      <p class=" text-xl font-semibold text-white">Frontend Web Developer</p>
      <div class="flex flex-col divide-y sm:divide-y-0 sm:divide-x pt-8 sm:flex-row">
        <a href="tel:01006438385" class="!me-3 pb-2 sm:py-0 text-slate-50">01006438385</a>
        <a href="mailto:mohamed2030aboelnour@gmail.com"
          class="sm:ps-3 py-2 sm:py-0 text-slate-50 underline ">{{'mohamed2030aboelnour@gmail.com'}}</a>
      </div>
    </div>
    <div class="card-body flex justify-center gap-2">
      <ul class="list-none flex gap-3">
        <li class="">
          <a href="https://github.com/abo-elnoUr" target="_blank">
            <img src="/images/github.png" alt="github" width="45">
          </a>
        </li>
        <li class="">
          <a href="https://www.instagram.com/mo___aboelnour/" target="_blank">
            <img src="/images/instagram.png" alt="instagram" width="45">
          </a>
        </li>
        <li class="">
          <a href="https://www.linkedin.com/in/aboelnour/" target="_blank">
            <img src="/images/linkedin.png" alt="linkedin" width="45">
          </a>
        </li>
        <li class="">
          <a href="https://drive.google.com/uc?export=download&id=16EGoxENzwoFz_lWcdDCDVnCJ9xh6pPBc" target="_blank">
            <img src="/images/cv.png" alt="linkedin" class="rounded-full" width="45">
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>